:root {
	--lightgray: lightgray;
	--red: red;
}


* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	box-sizing: border-box;
	outline: 1px solid red;
}

html {
	height: 1000px;
}

body {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100%;
	padding: 10px;
	font-family: sans-serif;
}

.leftContainer {
	height: 100%;
	padding: 10px;
}

.sidebar {
	> * {
		margin-bottom: 40px;
	}
	h1 {
		text-align: center;
	}
}

button:hover {
	cursor: pointer;
	box-shadow: 0 0 5px gray;
}

button {
	border: 2px solid var(--lightgray);
	border-radius: 10px;
	background: white;
}

.newProjectButton {
	width: 100%;
	padding: 20px;
}

.sideBarCards {
	.sideCard {
		padding: 10px;
		margin-bottom: 20px;
		border: 2px solid var(--lightgray);
		border-radius: 10px;
	}
	button {
		padding: 5px 10px;
	}
	.delete {
		color: white;
		background: var(--red);
		margin-right: 10px;
	}
	.delete:hover {
		box-shadow: 0 0 5px var(--red);
		border-color: white;
	}
}

.sideCard:hover {
	cursor: pointer;
	box-shadow: 0 0 10px var(--lightgray);
}

.eyeD {
	display: none;
}


dialog {
	padding: 40px;
	margin: 150px auto;
	width: 600px;
	border: none;
	border-radius: 20px;
	box-shadow: 0 0 100px var(--lightgray);
	input, textarea {
		outline: none;
		padding: 5px 10px;
		border-radius: 5px;
		border: 1px solid var(--lightgray);
		resize: none;
		font-family: inherit;
	}
	textarea {
		height: 100px;
	}
	button {
		padding: 5px 10px;
	}	
}

dialog[open] {
	display: grid;
	grid-template-columns: 1fr 3fr;
	gap: 20px;
	label {
		text-align: right;
	}
	button {
		grid-column: 1 / span 2;
	}
}

dialog::backdrop {
	background: var(--lightgray);
}

.topBar {
	display: flex;
	justify-content: space-between;
	padding: 20px 40px;
	border-bottom: 1px solid var(--lightgray);
	div {
		display: flex;
	}
	button {
		padding: 5px 10px;
	}
}
.filter {
	height: 30px;
	width: 30px;
	border-radius: 100px;
	transition: transform 0.5s ease;
}

.filter:hover{
	cursor: pointer;
	transform: rotate(90deg);
}

.mainCards {
	display: grid;
	padding: 20px 10px;
	grid-template-columns: repeat(auto-fit, 
		minmax(300px, 1fr));
	.card {
		border-radius: 10px;
		box-shadow: 0 0 5px var(--lightgray);
		margin: 20px;
		padding: 20px;
	}
	div {
		margin-top: 10px;
	}
	.removeBtn {
		background: red;
		color: white;
	}
	.removeBtn:hover {
		border-color: white;
		box-shadow: 0 0 5px red;
	}
	button {
		padding: 5px 15px;
		margin-right: 10px;
	}
}

.completed {
	opacity: 0.5;
}
