:root {
	--lightgray: lightgray;
	--red: red;
}


* {
	padding: 0;
	margin: 0;
	line-height: 1.4em;
	box-sizing: border-box;
}

html {
	height: 1000px;
}

body {
	display: grid;
	grid-template-columns: 1fr 5fr;
	height: 100%;
}

.leftContainer {
	height: 100%;
	padding: 20px;
	padding-top: 50px;
}

.sidebar {
	> * {
		margin-bottom: 40px;
	}
}

button:hover {
	cursor: pointer;
}

button {
	border: 2px solid var(--lightgray);
	border-radius: 10px;
	background: white;
}

.newProjectButton {
	width: 100%;
	padding: 20px;
}

.sideBarCards {
	padding: 10px;
	border: 2px solid var(--lightgray);
	button {
		padding: 5px 10px;
	}
	.delete {
		color: white;
		background: var(--red);
		margin-right: 10px;
	}
}

.sideBarCards:hover {
	cursor: pointer;
}

.eyeD {
	display: none;
}



